body {
  font-family: "Source Sans Pro", sans-serif;
}

label {
  font-size: xx-large;
  font-weight: 500;
}

.survey {
  margin-top: 10px;
  width: 70%;
  border-radius: 5px;
  height: 60px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  font-size: x-large;
  color: rgb(158, 158, 158);
}

.radio-buttons {
  font-size: medium;
  padding-left: 5px;
}

.part-1 {
  margin: 7% 0 0 7%;
  border-right: solid;
  border-right-color: rgb(96, 96, 96);
  width: 40%;
  padding: 20px;
}

.part-2 {
  margin: 7% 0 0 7%;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
}

.button2 {
  margin-top: 30px;
  margin-left: 15%;
  background-color: rgb(88, 80, 233);
  border-radius: 10px;
  width: 200px;
  height: 70px;
  color: white;
  border: 2px solid #008cba;
  font-size: x-large;
}

.button2:hover {
  background-color: rgb(96, 96, 96);
  cursor: pointer;
}

h2 {
  color: rgb(109, 109, 109);
  border-bottom: solid;
  padding-bottom: 15px;
  border-bottom-color: rgb(234, 234, 234);
}

.rate {
  margin-top: -20px;
  float: left;
  height: 70px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 50px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.btn {
  width: 40px;
  margin-right: 8px;
  height: 40px;
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "Lato", sans-serif;
  background-color: white;
}

.btn:hover {
  background-color: #ffc700;
}

.emoji {
  font-size: 3rem;
  transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.emoji:hover {
  transform: scale(1) translatey(-20px);
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.emoji--happy:before {
  content: "🙂";
}

.emoji--happy:hover:before {
  content: "😄";
}

.emoji--sad:before {
  content: "😕";
}

.emoji--sad:hover:before {
  content: "☹️";
}
